body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}
a{
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 5%;
    margin-right: 5%;
}
a:hover{
    text-decoration: underline;
    color: chartreuse;
}
label{
    color: aqua;
}
div{
    font-size: xx-large;
}

.textoX{
    color: aliceblue;
    font-size: 30px;
}
.busqueda{
    font-size: 30px;
}